**/.DS_Store
/oh-my-zsh/.oh-my-zsh/.git/
/oh-my-zsh/.oh-my-zsh/.gitignore
/oh-my-zsh/.oh-my-zsh/.github/
/oh-my-zsh/.oh-my-zsh/.editorconfig
/oh-my-zsh/.oh-my-zsh/.gitpod.Dockerfile
/oh-my-zsh/.oh-my-zsh/.gitpod.yml