# MACOS Default

.DS_Store

# git files

.gitsecret/keys/random_seed
!*.secret
git-cli/.config/gh/hosts.yml

# gpg Keys

gpg/**/*/pub*.kbx*
gpg/**/*/*key*
gpg/**/*/*.local*
gpg/**/*/*gpg*
gpg/**/*/*rev*

# .npm | .nvm folders

.n[pv]m/
node_modules/

# iTerm symlink

AppSupport

# VSCode
**/*/extensions/
